.stg_con select {
	vertical-align: middle !important;
}

label {
	vertical-align: baseline !important;
}

.stable-pagemenu .prevlink-disabled, .stable-pagemenu .nextlink-disabled {
	filter: alpha(opacity=50);
}

.stable-pagemenu .prevlink, .stable-pagemenu .nextlink {
	filter: alpha(opacity=100);
}

#modalbg {
	filter: alpha(opacity=70);
}
