/**
 * Copyright 2007 BitTorrent, Inc. All rights reserved.
 * Copyright 2008 Carsten Niebuhr
 */

#modalbg {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=60)";
	filter: alpha(opacity=60);
}


/**************************************************
 * MAIN TOOLBAR
 **************************************************/

#mainToolbar a {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=80)";
	filter: alpha(opacity=80);
}

#mainToolbar a:hover {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=100)";
	filter: alpha(opacity=100);
}

#mainToolbar a.disabled {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=10)";
	filter: alpha(opacity=10);
}

#mainToolbar-searchbar input {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=80)";
	filter: alpha(opacity=80);
}

#mainToolbar-searchbar input:hover, #mainToolbar-searchbar input:focus {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=100)";
	filter: alpha(opacity=100);
}


/**************************************************
 * MAIN DETAILED INFO PANE
 **************************************************/

li#tab_mainInfoPane-generalTab span,
li#tab_mainInfoPane-peersTab span,
li#tab_mainInfoPane-filesTab span,
li#tab_mainInfoPane-speedTab span,
li#tab_mainInfoPane-loggerTab span {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=50)";
	filter: alpha(opacity=50);
}

li.selected#tab_mainInfoPane-generalTab span,
li.selected#tab_mainInfoPane-peersTab span,
li.selected#tab_mainInfoPane-filesTab span,
li.selected#tab_mainInfoPane-speedTab span,
li.selected#tab_mainInfoPane-loggerTab span {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=100)";
	filter: alpha(opacity=100);
}


/**************************************************
 * STATUS BAR
 **************************************************/

#mainStatusBar-menu {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=50)";
	filter: alpha(opacity=50);
}

#mainStatusBar-menu:hover {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=100)";
	filter: alpha(opacity=100);
}


/**************************************************
 * SORTABLE TABLE
 **************************************************/

.stable-infobar .pageChanger .disabled {
	-ms-filter: "progid:DxImageTransform.Microsoft.Alpha(opacity=25)";
	filter: alpha(opacity=25);
}
