/**
 * Copyright 2007 BitTorrent, Inc. All rights reserved.
 * Copyright 2008 Carsten Niebuhr
 */

#msgout {
	position: relative;
	width: 100%;
}

#msgmid {
	position: absolute;
	top: 50%;
	width: 100%;
}

/**************************************************
 * FOLDER-TAB STYLED CONTROLS
 **************************************************/

ul.folder-tabs li,
ul.folder-tabs li a span {
	zoom: 1;
}

ul.folder-tabs li.selected a,
ul.folder-tabs li a:hover {
	border-top-width: 1px;
}

ul.folder-tabs li a {
	padding-bottom: 2px;
	vertical-align: top;
}

/**************************************************
 * MAIN DETAILED INFO PANE
 **************************************************/

#mainInfoPane-generalTab table {
	font-size: 100%;
}

/**************************************************
 * DIALOG: RSS Downloader
 **************************************************/

input[type="checkbox"] {
	height: 13px;
	width: 13px;
}

/**************************************************
 * SORTABLE TABLE
 **************************************************/

.stable-infobar .refreshBtn span,
.stable-infobar .pageChanger .prevlink,
.stable-infobar .pageChanger .nextlink {
	zoom: 1;
}
