/*
 *
 *     Copyright 2007 BitTorrent, Inc. All rights reserved.
 *     Copyright 2008 Carsten Niebuhr
 *
*/

html, body {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: default;
	overflow: hidden;
	background-color: #D0D0D0;
	height: 100%;
}

/* dialog */

div.dlg-window {
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	border: 2px solid #909090;
	display: none;
	overflow: hidden;
	z-index: 500;
	position: absolute;
	left: 0px; top: 0px;
}

div.dlg-header {
	padding: 2px 24px;
	line-height: 20px;
	background: #F5F5F5 url(./images/blank.gif) no-repeat scroll 4px center;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #909090;
	color: #000000;
}

a.dlg-close:link, a.dlg-close:visited {
	width: 14px; height: 14px;
	margin: 5px;
	background: transparent url(./images/close.png) no-repeat scroll left center;
	float: right;
	border: 0;
}

a.dlg-close:hover {
	width: 14px; height: 14px;
	background: transparent url(./images/close.png) no-repeat scroll -14px center;
	float: right;
	border: 0;
}

a.dlg-close:active {
	width: 14px; height: 14px;
	background: transparent url(./images/close.png) no-repeat scroll -28px center;
	float: right;
	border: 0;
}

div#preload {
	width: 0px; height: 0px;
	background-image: url(./images/tbar.png);
	background-image: url(./images/toolbar.png);
	background-image: url(./images/tstatus.png);
	background-image: url(./images/arrow.gif);
	background-image: url(./images/snake.gif);
	background-image: url(./images/close.png);
	background-image: url(./images/menusel.png);
	background-image: url(./images/menucheck.png);
	background-image: url(./images/menuexp.png);
	background-image: url(./images/nextprev.png);
	display: none;
}

div#cover {
	width: 100%; height: 100%;
	left: 0px; top: 0px;
	position: absolute;
	z-index: 500;
	background: #FFFFFF;
}

div#msg {
	width: 100%; height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	line-height: 100px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	background: #FDFDFD;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

sup { font-size: 8px; }

div#sc {
	width: 150px;
	right: 15px; top: 40px;
	position: absolute;
	display: none;
	border: 1px solid #808080;
	background-color: #E0E0E0;
	z-index: 100;
}

div#sc ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div#sc ul li {
	margin: 0;
	padding: 0;
}

div#sc li div {
	line-height: 14px;
	padding: 4px;
	font-weight: bold;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

div#sc li.se_act div {
	background-color: #808080;
	color: #FFFFFF;
}

ul.CMenu {
	width: 150px;
	left: 0px; top: 0px;
	display: none;
	border: 1px solid #A7A6AA;
	background: #FFFFFF;
	text-decoration: none;
	padding: 2px;
	margin: 0;
	list-style-type: none;
	z-index: 1000;
	position: absolute;
}

ul.CMenu li {
	float: left;
	margin-right: 1px;
	position: relative;
	width: 150px;
	background: #F8F8F8;
}

ul.CMenu li a {
	display: block;
	line-height: 18px;
	padding: 0 4px 0 16px;
	font-weight: normal;
}

ul.CMenu li a.dis {
	color: #C0C0C0;
}

ul.CMenu li a.dis:hover {
	background-color: #F8F8F8;
	color: #C0C0C0;
}

ul.CMenu li .hr {
	width: 90%;
	border:none;
	border-top: 1px solid #D0D0D0;
	height: 0px;
	margin: 2px auto;
	padding: 0;
	font-size: 1px;
	zoom: 1;
}

ul.CMenu li a.exp {
	background: transparent url(./images/menuexp.png) no-repeat scroll 140px center;
}

ul.CMenu li a.sel {
	background: transparent url(./images/menusel.png) no-repeat scroll 4px center;
}

ul.CMenu li a.check {
	background: transparent url(./images/menucheck.png) no-repeat scroll 4px center;
}

ul.CMenu li:hover a { background-color: #0099FF; color: #FFFFFF; }
ul.CMenu li:hover ul { display: block; position: absolute; top: 0; left: 150px; width: 150px; }
ul.CMenu li:hover ul li ul { display: none; z-index: 1002; }
ul.CMenu li:hover ul li a { display: block; background-color: #F6F6F6; color: #000000; }
ul.CMenu li:hover ul li a:hover { background-color: #0099FF; color: #FFFFFF; }
ul.CMenu li:hover ul.left { left: -150px; z-index: 1002; }

#sel {
	width: 0px; height: 0px;
	position: absolute;
	left: 0px; top: 0px;
	border: 1px dotted #000000;
	display: none;
	z-index: 1000;
}

div#al {
	width: 200px; height: 40px;
	position: absolute;
	right: 10px; bottom: 10px;
	background: #F5F5F5 url(./images/error.png) no-repeat 10px 10px;
	border: 1px solid #C0C0C0;
	padding: 5px 10px 5px 35px;
	z-index: 350;
	display: none;
}

div#ermsg {
	width: 180px; height: 100%;
	line-height: 16px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

div#al a.h {
	margin: -40px -5px 0 0;
}

div.dlbb { width: 96px; height: 12px; position: relative; margin: 1px 0 0 0; padding: 0; line-height: 14px; border: 1px solid #C0C0C0; }
div.dlbp { width: 90px; height: 14px; position: absolute; right: 0; top: -2px; margin: 1px; padding-left: 4px; text-align: right; z-index: 0; }

/*******************************************
 *                                         *
 *                 TOOLBAR                 *
 *                                         *
 *******************************************/

div#toolbar {
	height: 36px;
	line-height: 36px;
	border: 1px solid #A6A6A6;
	background: #D0D0D0 url(./images/tbar.png) repeat-x center center;
	margin: 0 0 5px 0;
}

div#toolbar a {
	float: left;
	margin: 3px 0 0 5px;
	padding: 3px;
}

div#toolbar a:active {
	padding: 4px 2px 2px 4px;
}

div#toolbar div.TB_Separator {
	width: 1px; height: 24px;
	margin: 7px 0 0 5px;
	padding: 0;
	border: 0;
	background-color: #808080;
	float: left;
}

div#toolbar a#add span {
	background: transparent url(./images/toolbar.png) no-repeat left center;
}

div#toolbar a#remove span {
	background: transparent url(./images/toolbar.png) no-repeat -72px center;
}

div#toolbar a#start span {
	background: transparent url(./images/toolbar.png) no-repeat -96px center;
}

div#toolbar a#pause span {
	background: transparent url(./images/toolbar.png) no-repeat -120px center;
}

div#toolbar a#stop span {
	background: transparent url(./images/toolbar.png) no-repeat -144px center;
}

div#toolbar a#setting span {
	background: transparent url(./images/toolbar.png) no-repeat -264px center;
}

div#toolbar a:hover span {
	opacity: 1.00;
	/*filter: alpha(opacity=100);*/
	-moz-opacity: 1.0;
}

div#toolbar a span {
	width: 24px; height: 24px;
	display: block;
	float: left;
	cursor: pointer;
	opacity: 0.70;
	/*filter: alpha(opacity=70);*/
	-moz-opacity: 0.7;
}

div#toolbar #search {
	width: 16px; height: 14px;
	margin: 8px 0 0 0;
	background: #FFFFFF url(./images/zoom.png) no-repeat center center;
	border: 1px solid #C0C0C0;
	border-right: 0;
}

div#toolbar div#sb {
	width: 180px;
	float: right;
	margin: 0;
	line-height: 26px;
}

div#toolbar div#sb input {
	width: 128px; height: 16px;
	line-height: 16px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 8px 0 0 0;
	padding: 3px 2px 1px 2px;
	border: 1px solid #C0C0C0;
	border-left: 0;
}

/*******************************************
 *                                         *
 *                  MISC                   *
 *                                         *
 *******************************************/
 
.hcont {
	width: 460px; height: 20px;
	line-height: 20px;
	overflow: hidden;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 20px;
	clear: both;
	display: block;
}

.hcont .ralign {
	width: 220px;
	float: right;
	padding: 0 0 0 10px;
	text-align: left;
}

.tal {
	text-align: left;
}

.flr {
	float: right;
}

.hcont .lalign {
	width: 50%;
	float: left;
	padding: 0;
	text-align: left;
	clear: none;
}

.hcont input[type="checkbox"] {
	margin: 0 5px;
}
 
input.tbox, input.btn, select {
	height: 16px;
	line-height: 16px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
}

input.tbox {
	height: 16px !important;
	background-color: #FFFFFF;
	padding: 0 2px !important;
	margin: 1px 0 !important;
	vertical-align: top;
}

input.tbox:focus {
	border: 1px solid #0099FF;
}

input.btn {
	width: 80px; height: 19px;
	line-height: 19px;
	border: 1px solid #A0A0A0;
	background: #F0F0F0 url(./images/header.png) repeat-x center bottom;
}

a {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #686868;
}

#dir_active_download, #dir_completed_download, #dir_torrent_files, #dir_completed_torrents, #dir_autoload {
	width: 440px;
	margin: 0 10px !important;
}

#DLG_SETTINGS_7_QUEUEING_07, #DLG_TORRENTPROP_1_GEN_12 {
	margin: 0 10px 0 0;
}

#DLG_SETTINGS_7_QUEUEING_09, #DLG_TORRENTPROP_1_GEN_14 {
	margin: 0 20px 0 10px;
}

#seed_time {
	width: 150px;
}

#DLG_SETTINGS_4_CONN_11, #DLG_SETTINGS_4_CONN_13, #DLG_SETTINGS_4_CONN_16, #DLG_SETTINGS_4_CONN_18 {
	padding: 0 10px 0 25px;
}

/*******************************************
 *                                         *
 *                CATEGORY                 *
 *                                         *
 *******************************************/
 
div#CatList {
	width: 18%;
	border: 1px solid #868686;
	background-color: #FCFCFC;
	overflow: auto;
	margin: 0 5px 0 0;
	float: left;
}
 
div#CatList ul {
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;
}

div#CatList ul li {
	padding: 0 4px;
	margin: 0;
	line-height: 16px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
	border: 1px solid #FCFCFC;
}

div#CatList ul li.sel {
	background-color: #0099FF;
	border: 1px dotted #0099FF;
	color: #FFFFFF;
}

div#HDivider, div#VDivider { position: absolute; z-index: 200; font-size: 0; }
div#HDivider { width: 5px; height: 0px; padding: 0; margin: 0; top: 43px; cursor: e-resize; background: #D0D0D0; }
div#VDivider { width: 0px; height: 5px; padding: 0; margin: 0; cursor: n-resize; background: #D0D0D0; }
div#HDivider:hover, div#VDivider:hover {
	background: #A0A0A0;
}

/* List */

div#List {
	height: 150px;
	border: 1px solid #868686;
	background-color: #FFFFFF;
	overflow: hidden;
	display: block;
	-moz-user-select: none;
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	margin: 0;
}

div#FileList {
	background-color: #FFFFFF;
	overflow: hidden;
	display: block;
	-moz-user-select: none;
	-moz-user-focus: normal;
	-moz-user-input: enabled;
}

.Status_Down {
	background: transparent url(./images/tstatus.png) no-repeat 5px top;
}

.Status_Up {
	background: transparent url(./images/tstatus.png) no-repeat 5px -16px;
}

.Status_Checking, .Status_Incompleted {
	background: transparent url(./images/tstatus.png) no-repeat 5px -32px;
}

.Status_Paused {
	background: transparent url(./images/tstatus.png) no-repeat 5px -48px;
}

.Status_Error_Down {
	background: transparent url(./images/tstatus.png) no-repeat 5px -64px;
}

.Status_Error_Up {
	background: transparent url(./images/tstatus.png) no-repeat 5px -80px;
}

.Status_Error {
	background: transparent url(./images/tstatus.png) no-repeat 5px -96px;
}

.Status_Completed {
	background: transparent url(./images/tstatus.png) no-repeat 5px -112px;
}

.Status_Queued_Down {
	background: transparent url(./images/tstatus.png) no-repeat 5px -128px;
}

.Status_Queued_Up {
	background: transparent url(./images/tstatus.png) no-repeat 5px -144px;
}

/* Details */


#dlgSettings {
	width: 600px; height: 420px;
}

#dlgSettings-header {
	background-image: url(./images/settings.png);
}

div#dlgSettings .lm {
	width: 100px; height: 395px;
	float: left;
	position: relative;
	background-color: #FFFFFF;
	border-right: 1px solid #D0D0D0;
	overflow: auto;
}

div.algnright { text-align: right; }

.lm ul {
	margin: 0; padding: 0;
	list-style: none;
}

.lm li {
	margin: 0; padding: 0;
	position: relative;
}

.lm li a {
	padding: 3px 9px;
	display: block;
	white-space: nowrap;
}

.lm li.selected a {
	background-color: #0099FF;
	color: #FFFFFF;
}

.stg_con {
	float: left;
	position: relative;
	width: 489px; height: 355px;
	padding: 5px;
	background-color: #FAFAFA;
}

fieldset {
	position: relative;
	margin: 4px;
	border: 1px solid #D0D0D0;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	overflow: auto;
}

.stg_con table {
	width: 100%;
}

.stg_con td {
	font-weight: normal;
	height: 19px;
}

.stg_con td span {
	display: block;
	overflow: auto;
}


.stg_con td.alr {
	text-align: right;
}

#DLG_SETT_3_15 {
	padding: 0 25px 0 0;
}

#DLG_SETT_3_16, #DLG_SETT_3_18 {
	padding: 0 5px;
}

input.num {
	text-align: right;
	width: 50px;
}

input.str {
	text-align: left;
	width: 130px;
}

td label, div label { cursor: pointer; }

input.disabled {
	color: #808080;
	background-color: #FAFAFA;
}

td.disabled, label.disabled, span.disabled, div.disabled { color: #C0C0C0; cursor: default; }
fieldset div { padding: 3px; }
input[id="proxy.proxy"] { width: 70px; margin: 0 4px; font-size: 11px; padding: 1px 4px; }
input[id="proxy.username"] { width: 70px; margin: 0 4px; font-size: 11px; padding: 1px 4px; }
input[id="proxy.password"] { width: 70px; margin: 0 4px; font-size: 11px; padding: 1px 4px; }
input[id="webui.restrict"] { width: 405px; }
input#tracker_ip { width: 200px; }


div input {	margin: 0 4px; }
legend {
	color: #000000;
	font-weight: bold;
}

div.indent { padding-left: 16px; width: 444px; }

#st_gl { display: block; }

#st_dl, #st_con, #st_bt, #st_que, #st_sch, #st_ao, #st_dc {
	display: none;
}

#st_btns {
	width: 489px;
	position: relative;
	padding: 5px;
	text-align: right;
	background: #F0F0F0;
	border-top: 1px solid #D0D0D0;
	float: left;
}

#st_btns input {
	margin: 0 0 0 5px;
}


a {
	text-decoration: none;
}

#st_ao_h {
	width: 460px; height: 262px;
	overflow: auto;
	background: #FFFFFF;
	border: 1px solid #D0D0D0;
	padding: 2px 0;
	overflow-x: hidden;
}

#ST_COL_NAME, #ST_COL_VALUE {
	width: 225px;
	float: left;
	background: #FFFFFF;
	border: 1px solid #D0D0D0;
	padding: 2px;
}

#st_ao_h td {
	padding: 1px 2px;
	border-bottom: 1px solid #F5F5F5;
}

#acty {
	width: 16px; height: 16px;
	position: absolute;
	right: 10px; bottom: 10px;
	background-image: url();
}

select.cols {
	border: 1px solid #808080;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 2px;
	width: 120px;
}

div#dragmask {
	width: 10px; height: 10px;
	left: 0px; top: 0px;
	position: absolute;
	z-index: 5000;
	display: none;
	border: 2px dotted #A0A0A0;
}

input[id="cache.override_size"] {
	margin: 0 5px 0 0;
}

/* ********************************************** */

div#tdetails {
	height: 50%;
	margin: 6px 0 0 0;
	padding: 0 5px 5px 5px;
	background-color: #D0D0D0;
}
div#tdetails a.h { margin: 0; }
div#tdcont { height: 200px; background: #FFFFFF; border: 1px solid #868686; padding: 3px; }
div#gcont, div#lcont {
	background: #FFFFFF;
	margin: 3px;
	border: 1px solid #868686;
	overflow: auto;
}
div#gcont table { font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; line-height: 10px; }
div#gcont table td.Header { font-weight: bold; background: #F6F6F6; border: 1px solid #D0D0D0; }
div#lcont { font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; line-height: 11px; background: #FFFFFF; }
div#lcont { padding: 2px; }

#dettable td {
	empty-cells: show;
}
#dettable label {
	width: 100px;
	float: left;
}

/* add dialog */

div#dlgAdd {
	width: 350px; height: 165px;
}

#dlgAdd-header {
	background-image: url(./images/world.png);
}

div#dlgAdd .cont {
	overflow: hidden;
}

div#dlgAdd .hr {
	height: 1px;
	margin: 5px auto;
	font-size: 0;
	background-color: #D0D0D0;
	width: 90%;
}

div#dlgAdd .hcont label, div#dlgAdd input.text { width: 150px; }
div#dlgAdd .hcont label { text-align: right; width: 75px; padding-right: 20px; float: left; }

div#dlgAdd .hcont {
	margin-bottom: 5px;
	overflow: hidden;
}

div.fifpcw {
	width: 150px; height: 19px;
	line-height: 19px;
	margin: 0 0 5px 0;
	padding: 0;
	float: left;
}

div#dlgAdd fieldset {
	border: 0;
	border-top: 1px solid #D0D0D0;
}

div#dlgAdd legend a {
	padding: 0 0 0 20px;
	background: transparent url(./images/arrow.gif) no-repeat scroll 2px top;
}

#optadd-cont {
	height: 98px;
	display: none;
}

#torrent_file {
	height: 19px;
	line-height: 19px;
}

#dlpath {
	width: 250px;
	margin: 0 10px 0 0;
}

#DLG_PRE_ADD_03 {
	width: 30px;
}

#addlab {
	float: right;
}

div.cont { padding: 6px; font-size: 11px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; }
div#gcont, div#FileList, div#scont, div#lcont { display: none; }

ul#tabs {
	height: 17px;
	margin: 0;
	padding: 3px 0 0 0;
	list-style-type: none;
	text-align: left;
	clear: both;
	position: relative;
	z-index: 50;
}

ul#tabs li {
	margin: 0;
	padding: 0;
	display: inline;
	position: relative;
	top: -4px;
}

ul#tabs li a:hover {
	color: #868686;
}

ul#tabs li a {
	position: relative;
	text-decoration: none;
	border: 1px solid #D0D0D0;
	border-top: 2px solid #D0D0D0;
	background: #D0D0D0;
	border-bottom: 0;
	margin: 0;
	padding: 2px 12px 4px 12px;
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #3B3B3B;
	vertical-align: top;
	top: 4px;
}

ul#tabs li.selected a {
	margin: 0;
	position: relative;
	vertical-align: top;
	border: 1px solid #868686;
	border-top: 2px solid #0099FF;
	border-bottom: 1px solid #FFFFFF;
	background: #FFFFFF;
	color: #000000;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

#minrows {
	width: 30px;
}

#update_interval {
	width: 50px;
}

/* label dialog */

div#dlgLabel {
	width: 300px; height: 110px;
}

div#dlgLabel div.dlg-header {
	background-image: url(./images/label.png);
}

div#dlgLabel div.content {
	width: 280px;
	margin: 5px;
	padding: 5px;
	line-height: 16px;
}

div#dlgLabel div.content input {
	margin-top: 5px;
}

#txtLabel {
	width: 250px;
}

/* label dialog */

div#dlgDelTor {
	width: 280px; height: 100px;
}

div#dlgDelTor div.dlg-header {
	background-image: url(./images/delete.png);
}

div#dlgDelTor div.content {
	width: 260px;
	margin: 5px;
	padding: 5px;
	line-height: 16px;
}

div#dlgDelTor div.content input {
	margin-top: 5px;
}

/* about dialog */

div#dlgAbout {
	width: 250px; height: 230px;
}

div#dlgAbout div.dlg-header { 
	background-image: url(./images/about.png);
}

div#dlgAbout div.content {
	width: 230px;
	margin: 5px;
	padding: 5px;
}

#mootools {
	width: 68px;
	display: block;
	margin: 0 auto;
}

#mootools img {
	border: 0;
}

/* properties dialog */

div#dlgProps {
	width: 450px; height: 434px;
}

div#dlgProps div.dlg-header { 
	background-image: url(./images/props.png);
}

div#dlgProps div.content {
	width: 430px;
	padding: 10px;
}

textarea#prop-trackers {
	width: 100%; height: 100px;
	background: #FFFFFF;
	border: 1px solid #D0D0D0;
	overflow: auto;
	white-space: nowrap;
	wrap: no-wrap;
}

div#dlgProps fieldset div {
	line-height: 16px;
}

div.props-spacer {
	height: 16px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	width: 30%;
	float: left;
}

input#prop-ulrate, input#prop-dlrate, input#prop-ulslots {
	width: 60px;
	float: right;
}

input#prop-seed_ratio {
	width: 40px;
}

div.aright {
	text-align: right;
}

a { outline: none; }

#uploadfrm {
	width: 0px; height: 0px;
	overflow: hidden;
	border: 0;
}

/* schedule table

#sched_table {
	border-collapse: collapse;
	-moz-user-select: none;
	cursor: default;
}

#sched_table * {
	-webkit-user-select: ignore !important;
}

#sched_table td.block {
	width: 16px; height: 16px;
	border: 1px solid #000000;
}

#sched_table td.mode0 {
	background-color: #00A800;
}
#sched_table td.mode0:hover {
	background-color: #009300;
}

#sched_table td.mode1 {
	background-color: #8DCE8D;
}
#sched_table td.mode1:hover {
	background-color: #8DCE8D;
}

#sched_table td.mode2 {
	background-color: #FFFFFF;
}

#sched_table td.mode3 {
	background-color: #FFC0C0;
}

#sched_table.disabled td.block {
	background-color: #686868;
}

*/

/* progressbar

.prbar {
	height: 8px !important;
	position: relative;
}

.prbar span {
	width: 50px;
	position: absolute;
	line-height: 14px;
	z-index: 10;
	margin: 0 0 0 -25px;
	left: 50%; top: -3px;
	text-align: center;
	font-weight: bold;
}

.prbar div {
	height: 8px !important;
	background-color: #8BBBE8;
	position: absolute;
	z-index: 9;
	left: 0px; top: 0px;
}

*/

/* folders dialog

div#dlgFolders {
	width: 300px; height: 212px;
}

div#dlgFolders div.dlg-header { 
	background-image: url(./images/folder_explore.png);
}

div#dlgFolders div.content {
	width: 300px;
	padding: 10px;
}

div#dlgFolders label {
	width: 50px;
}

#brwpath {
	width: 238px; height: 19px;
	margin: 0 0 8px 0;
	padding: 0 2px;
	line-height: 19px;
	border: 1px solid #D0D0D0;
	font-size: 12px;
}

#fl-cont {
	width: 270px; height: 98px;
	margin: 0 0 10px 0;
	border: 1px solid #D0D0D0;
	overflow: auto;
	padding: 4px;
}

#fl-cont div {
	margin: 0;
	padding: 0;
}

#fl-cont div.item {
	margin: 6px 0;
}

#fl-cont a {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	background: transparent url(./images/folder.png) no-repeat scroll 2px center;
	white-space: nowrap;
}

#fl-cont a span {
	border: 1px solid #FFFFFF;
	padding: 2px;
}

#fl-cont a:hover span {
	text-decoration: underline;
}

#fl-cont a.selected span {
	border: 1px solid #808080;
	background: #F5F5F5;
	color: #686868;
}

*/

#token {
	display: none;
}

form {
  margin: 0;
  padding: 0;
}
