/*
 *
 *     Copyright 2007 BitTorrent, Inc. All rights reserved.
 *     Copyright 2008 Carsten Niebuhr
 *
 */

* {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #D0D0D0;
	border: 0;
	cursor: default;
	height: 100%;
	overflow: hidden;
}

a {
	color: #686868;
	text-decoration: none;
}

img {
	border: 0;
}

fieldset {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	margin-bottom: 6px;
	overflow: hidden;
	padding: 5px;
	position: relative;
}

legend {
	color: #000000;
	font-weight: bold;
	padding: 0 3px;
}

label {
	cursor: pointer;
}

textarea {
	border: 1px solid #D0D0D0;
	overflow: auto;
	padding: 2px;
}

textarea:focus {
	border: 1px solid #0099FF;
}

input[type="checkbox"] {
	margin-right: 3px;
}

input.btn, input.fbox, input.tbox, select {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	color: #000000;
	height: 19px;
}

input.btn {
	background: #F0F0F0 url(./images/header.png) repeat-x center top;
	border: 1px solid #A0A0A0;
	width: 80px;
}

input.tbox {
	background-color: #FFFFFF;
	margin: 1px 0;
	padding: 0 2px;
	vertical-align: top;
	height: 16px;
}

input.tbox:focus {
	border: 1px solid #0099FF;
}

input.num {
	text-align: right;
	width: 50px;
}

input.str {
	text-align: left;
	width: 130px;
}

input.disabled, select.disabled {
	background-color: #FAFAFA;
	color: #808080;
}

td.disabled, label.disabled, span.disabled, div.disabled {
	color: #C0C0C0;
	cursor: default;
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.flr {
	float: right;
	text-align: left;
}

.half {
	width: 49%;
}

.indent {
	padding-left: 18px;
}

.line-cont {
	clear: both;
	height: 21px;
	line-height: 21px;
	overflow: hidden;
}

#cover, #modalbg {
	background: #FFFFFF;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 500;
}

#modalbg {
	display: none;
	opacity: 0.60;
}

#msg {
	background: #FDFDFD;
	border: 1px solid #D0D0D0;
	border-width: 1px 0;
	font-weight: bold;
	height: 100px;
	line-height: 100px;
	margin-top: -50px;
	position: absolute;
	text-align: center;
	top: 50%;
	vertical-align: middle;
	width: 100%;
}

#dragmask {
	border: 2px dotted #A0A0A0;
	display: none;
	position: absolute;
	z-index: 5000;
}


/**************************************************
 * MAIN TOOLBAR
 **************************************************/

#mainToolbar {
	background: #D0D0D0 url(./images/tbar.png) repeat-x 1px 1px;
	border: 1px solid #A6A6A6;
	height: 36px;
	line-height: 36px;
	margin: 0 0 5px 0;
	overflow: hidden;
}

#mainToolbar .separator {
	background-color: #808080;
	border: 0;
	float: left;
	height: 24px;
	margin: 6px 4px;
	width: 1px;
}

#mainToolbar a {
	cursor: pointer;
	display: block;
	float: left;
	height: 24px;
	margin: 6px 4px;
	width: 24px;
}

#mainToolbar a:active {
	margin: 7px 3px 5px 5px;
}

#mainToolbar a {
	opacity: 0.70;
}

#mainToolbar a:hover {
	opacity: 1.00;
}

#mainToolbar a {
	background: transparent url(./images/toolbar.png) no-repeat 0px top;
}

	#mainToolbar a#add { background-position: 0px; }
	#mainToolbar a#addurl { background-position: -24px; }
	#mainToolbar a#remove { background-position: -72px; }
	#mainToolbar a#start { background-position: -96px; }
	#mainToolbar a#pause { background-position: -120px; }
	#mainToolbar a#stop { background-position: -144px; }
	#mainToolbar a#queueup { background-position: -168px; }
	#mainToolbar a#queuedown { background-position: -192px; }
	#mainToolbar a#setting { background-position: -264px; }

#mainToolbar-searchbar {
	float: right;
	height: 24px;
	margin: 7px;
	white-space: nowrap;
}

#mainToolbar-searchbar * {
	border: 1px solid #C0C0C0;
	float: left;
	margin: 0 !important;
}

#mainToolbar-searchbar input {
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	width: 100px;
}

#mainToolbar-searchbar input {
	opacity: 0.80;
}

#mainToolbar-searchbar input:hover, #mainToolbar-searchbar input:focus {
	opacity: 1.00;
}

#mainToolbar-searchbar #search {
	background: #FFFFFF url(./images/zoom.png) no-repeat center center;
	border-width: 1px 0;
	height: 20px;
	width: 20px;
}

#mainToolbar-searchbar #searchsel {
	background: #FFFFFF url(./images/arrow.gif) no-repeat -2px 3px;
	height: 20px;
	width: 10px;
}


/**************************************************
 * MAIN CATEGORY/LABEL LIST
 **************************************************/

#mainCatList {
	background-color: #FCFCFC;
	border: 1px solid #868686;
	float: left;
	margin: 0 5px 0 0;
	overflow: auto;
}

#mainCatList ul {
	list-style: none;
	white-space: nowrap;
}

#mainCatList ul li {
	border: 1px solid #FCFCFC;
	cursor: pointer;
	line-height: 16px;
	padding: 0 4px 0 22px;
}

#mainCatList ul li.sel {
	background-color: #D0E1F2;
	border: 1px solid #D0E1F2;
}

#mainCatList ul li.hr {
	padding: 4px;
}

#mainCatList ul li.hr hr {
	background-color: #868686;
	border: none;
	height: 1px;
}

/*
   IE6's CSS handler seems to get confused by selectors referencing elements whose
   IDs start with underscores, and the selector's first underscore is unescaped.
   (https://developer.mozilla.org/en/underscores_in_class_and_id_names)
*/

#\_all_, #\_dls_, #\_com_, #\_act_, #\_iac_ {
	background: transparent url(./images/tstatus.png) no-repeat 2px 0px;
}

	#\_all_ { background-position: 2px -176px; }
	#\_com_ { background-position: 2px -16px; }
	#\_act_ { background-position: 2px -160px; }
	#\_iac_ { background-position: 2px -192px; }


/**************************************************
 * MAIN TORRENT LIST
 **************************************************/

#mainTorList {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	border: 1px solid #868686;
	display: block;
	overflow: hidden;
}

.Status_Down,
.Status_Up,
.Status_Checking,
.Status_Incompleted,
.Status_Paused,
.Status_Error_Down,
.Status_Error_Up,
.Status_Error,
.Status_Completed,
.Status_Queued_Down,
.Status_Queued_Up {
	background: transparent url(./images/tstatus.png) no-repeat 5px top;
}

	.Status_Up { background-position: 5px -16px; }
	.Status_Checking, .Status_Incompleted { background-position: 5px -32px; }
	.Status_Paused { background-position: 5px -48px; }
	.Status_Error_Down { background-position: 5px -64px; }
	.Status_Error_Up { background-position: 5px -80px; }
	.Status_Error { background-position: 5px -96px; }
	.Status_Completed { background-position: 5px -112px; }
	.Status_Queued_Down { background-position: 5px -128px; }
	.Status_Queued_Up { background-position: 5px -144px; }


/**************************************************
 * MAIN DETAILED INFO PANE
 **************************************************/

#mainInfoPane {
	background-color: #D0D0D0;
	float: left;
	margin: 6px 0 0 0;
	width: 0; /* NOTE: This fixes poor reflow under FF/IE when zooming out */
}

ul#mainInfoPane-tabs {
	height: 17px;
	list-style: none;
	padding: 3px 0 0 0;
	position: relative;
	text-align: left;
	z-index: 50;
}

ul#mainInfoPane-tabs li {
	display: inline;
	padding: 0 0 10px 0;
	position: relative;
	top: -4px;
}

ul#mainInfoPane-tabs li a {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border: 1px solid #B0B0B0;
	border-bottom: 1px solid #868686;
	border-radius: 5px 5px 0 0;
	color: #3B3B3B;
	padding: 2px 0 4px 0;
	position: relative;
	top: 4px;
	vertical-align: top;
	vertical-align: top;
}

ul#mainInfoPane-tabs li a:hover {
	background-color: #E0E0E0;
	border-top: 2px solid #0099FF;
}

ul#mainInfoPane-tabs li.selected a {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background-color: #FFFFFF;
	border: 1px solid #868686;
	border-bottom: 1px solid #FFFFFF;
	border-top: 2px solid #0099FF;
	border-radius: 5px 5px 0 0;
	color: #000000;
	position: relative;
	vertical-align: top;
}

ul#mainInfoPane-tabs li a span {
	padding: 0 10px 3px 24px;
	vertical-align: top;
}

li#tab_mainInfoPane-generalTab span,
li#tab_mainInfoPane-filesTab span,
li#tab_mainInfoPane-speedTab span,
li#tab_mainInfoPane-loggerTab span {
	background: transparent url(./images/tabs.png) no-repeat 4px top;
}

	li.selected#tab_mainInfoPane-generalTab span { background-position: 4px -16px; }
	li.selected#tab_mainInfoPane-filesTab span { background-position: 4px -80px; }
	li.selected#tab_mainInfoPane-speedTab span { background-position: 4px -96px; }
	li.selected#tab_mainInfoPane-loggerTab span { background-position: 4px -112px; }

	li#tab_mainInfoPane-generalTab span { background-position: 4px -144px; }
	li#tab_mainInfoPane-filesTab span { background-position: 4px -208px; }
	li#tab_mainInfoPane-speedTab span { background-position: 4px -224px; }
	li#tab_mainInfoPane-loggerTab span { background-position: 4px -240px; }

#mainInfoPane-content {
	background: #FFFFFF;
	border: 1px solid #868686;
	height: 200px;
	padding: 3px;
}

#mainInfoPane-generalTab, #mainInfoPane-loggerTab {
	background-color: #FFFFFF;
	border: 1px solid #868686;
	overflow: auto;
}

#mainInfoPane-generalTab table {
	line-height: 10px;
	width: 100%;
}

#mainInfoPane-generalTab table td {
	empty-cells: show;
	padding: 3px;
}

#mainInfoPane-generalTab table td.Header {
	background: #F6F6F6;
	border: 1px solid #D0D0D0;
	font-weight: bold;
}

#mainInfoPane-generalTab table label {
	width: 100px;
	float: left;
}

#mainInfoPane-filesTab {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	display: block;
	overflow: hidden;
}

#mainInfoPane-speedTab {
	background-color: #FFFFFF;
	overflow: hidden;
}

#mainInfoPane-loggerTab {
	font-family: monospace;
	font-size: 12px;
	line-height: 14px;
	padding: 2px;
}


/**************************************************
 * MAIN UI DIVIDERS
 **************************************************/

#mainHDivider, #mainVDivider {
	background: #D0D0D0;
	position: absolute;
	z-index: 200;
}

#mainHDivider:hover, #mainVDivider:hover {
	background: #A0A0A0;
}

#mainHDivider {
	cursor: e-resize;
	width: 5px;
}

#mainVDivider {
	cursor: n-resize;
	height: 5px;
	font-size: 1px;
}


/**************************************************
 * DIALOG (Base Styles)
 **************************************************/

.dlg-window {
	background-color: #FFFFFF;
	border: 2px solid #909090;
	color: #000000;
	display: none;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 500;
}

.dlg-head {
	background: #F5F5F5 url(./images/blank.gif) no-repeat 4px 4px;
	border-bottom: 1px solid #909090;
	color: #000000;
	font-weight: bold;
	height: 20px;
	left: 0;
	line-height: 20px;
	overflow: hidden;
	padding: 2px 24px;
	position: absolute;
	right: 0;
	top: 0;
/*	white-space: nowrap;*/
	width: 100%;
	z-index: 1;
}

.dlg-body {
	margin: 25px 0 30px 0;
	padding: 5px;
	position: relative;
}

.dlg-body:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.dlg-close {
	z-index: 2;
	position: absolute;
	top: 5px;
	right: 5px;
	border: 1px solid #FF0000;
	width: 14px; height: 14px;
	border: 0;
}

.dlg-close {
	background: transparent url(./images/close.png) no-repeat 0px 0px;
}

	.dlg-close:hover { background-position: -14px; }
	.dlg-close:active { background-position: -28px; }

.dlg-foot {
	background: #F0F0F0;
	border-top: 1px solid #D0D0D0;
	bottom: 0;
	height: 20px;
	padding: 5px;
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
}


/**************************************************
 * DIALOG: About
 **************************************************/

#dlgAbout {
	width: 250px;
}

#dlgAbout .dlg-body {
	margin-bottom: 0 !important;
}

#dlgAbout-head {
	background-image: url(./images/about.png);
}

#dlgAbout-logo {
	float: left;
	margin: 3px 8px 0 3px;
}

#dlgAbout-name {
	font-size: 1.75em;
	font-weight: bold;
}

#dlgAbout-credits {
	margin-top: 10px;
}

#dlgAbout-credits div {
	margin-bottom: 5px;
}

#dlgAbout #mootools {
	margin: 10px 0 0 0;
	text-align: center;
}


/**************************************************
 * DIALOG: Add Torrent
 **************************************************/

#dlgAdd {
	width: 350px;
}

#dlgAdd-head {
	background-image: url(./images/world.png);
}

#dlgAdd .dlg-body .fbox {
	width: 250px;
}

/* TODO: Finish implementing or remove
	div.fifpcw {
		width: 150px; height: 19px;
		line-height: 19px;
		margin: 0 0 5px 0;
		float: left;
	}

	#dlgAdd fieldset {
		border: 0;
		border-top: 1px solid #D0D0D0;
	}

	#dlgAdd legend a {
		padding: 0 0 0 20px;
		background: transparent url(./images/arrow.gif) no-repeat scroll 2px top;
	}

	#optadd-cont {
		height: 98px;
		display: none;
	}

	#dlpath {
		width: 250px;
		margin: 0 10px 0 0;
	}

	#DLG_PRE_ADD_03 {
		width: 30px;
	}
*/


/**************************************************
 * DIALOG: Add URL
 **************************************************/

#dlgAddURL {
	width: 325px;
}

#dlgAddURL-head {
	background-image: url(./images/world.png);
}

#dlgAddURL .dlg-body .tbox {
	width: 225px;
}


/**************************************************
 * DIALOG: Delete
 **************************************************/

#dlgDelTor {
	width: 280px;
}

#dlgDelTor-head {
	background-image: url(./images/delete.png);
}


/**************************************************
 * DIALOG: File Browser
 **************************************************/

/* TODO: Finish implementing or remove
	#dlgFolders {
		width: 300px; height: 212px;
	}

	#dlgFolders-head {
		background-image: url(./images/folder_explore.png);
	}

	#dlgFolders label {
		width: 50px;
	}

	#brwpath {
		width: 238px; height: 19px;
		margin: 0 0 8px 0;
		padding: 0 2px;
		line-height: 19px;
		border: 1px solid #D0D0D0;
	}

	#fl-cont {
		width: 270px; height: 98px;
		margin: 0 0 10px 0;
		border: 1px solid #D0D0D0;
		overflow: auto;
		padding: 4px;
	}

	#fl-cont div.item {
		margin: 6px 0;
	}

	#fl-cont a {
		background: transparent url(./images/folder.png) no-repeat scroll 2px center;
		white-space: nowrap;
	}

	#fl-cont a span {
		border: 1px solid #FFFFFF;
		padding: 2px;
	}

	#fl-cont a:hover span {
		text-decoration: underline;
	}

	#fl-cont a.selected span {
		border: 1px solid #808080;
		background: #F5F5F5;
		color: #686868;
	}
*/


/**************************************************
 * DIALOG: New Label
 **************************************************/

#dlgLabel {
	width: 300px;
}

#dlgLabel-head {
	background-image: url(./images/label.png);
}

#dlgLabel .dlg-body .tbox {
	width: 280px;
}


/**************************************************
 * DIALOG: Properties
 **************************************************/

#dlgProps {
	width: 400px;
}

#dlgProps-head {
	background-image: url(./images/props.png);
}

#dlgProps fieldset .wide {
	width: 370px;
}

#prop-trackers {
	height: 100px;
}

#prop-seed_ratio,
#prop-seed_time {
	margin-left: 3px;
	margin-right: 3px;
}

/**************************************************
 * DIALOG: Settings
 **************************************************/

#dlgSettings {
	width: 600px;
}

#dlgSettings-head {
	background-image: url(./images/settings.png);
}

#dlgSettings-menu {
	background-color: #FFFFFF;
	border-right: 1px solid #D0D0D0;
	bottom: 0;
	left: 0;
	list-style: none;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 100px;
}

#dlgSettings-menu li a {
	display: block;
	padding: 3px 9px;
	white-space: nowrap;
}

#dlgSettings-menu li.selected a {
	background-color: #0099FF;
	color: #FFFFFF;
}

#dlgSettings .settings-pane {
	height: 360px;
	left: 100px;
	padding: 0 5px;
	position: relative;
	width: 480px;
}

#dlgSettings .settings-pane fieldset .wide {
	width: 460px;
}

/* General */

#search_list { height: 75px; }

input[id="webui.username"],
input[id="webui.password"] {
	margin-left: 3px;
}

/* Directories */

#dir_active_download, #dir_completed_download, #dir_torrent_files, #dir_completed_torrents, #dir_autoload {
	width: 440px;
}

/* Connection */

#DLG_SETTINGS_4_CONN_11,
#DLG_SETTINGS_4_CONN_16 {
	margin-right: 5px;
}

#DLG_SETTINGS_4_CONN_13,
#DLG_SETTINGS_4_CONN_18 {
	margin: 0 5px 0 25px;
}

select[id="proxy.type"] { margin-left: 3px; }
input[id="proxy.proxy"] { width: 140px; }
input[id="proxy.port"] { width: 45px; }
input[id="proxy.username"] { width: 90px; }
input[id="proxy.password"] { width: 70px; }

/* BitTorrent */

#tracker_ip { width: 220px; }
#encryption_mode { margin-left: 3px; }

/* Transfer Cap */

#multi_day_transfer_mode,
#multi_day_transfer_limit_value {
	margin-left: 3px;
}

#multi_day_transfer_limit_span {
	margin-left: 3px;
	margin-right: 3px;
}

/* Queueing */

#seed_ratio, #seed_time {
	margin-left: 3px;
	margin-right: 3px;
}

/* Scheduler */

#sched_table {
	-moz-user-select: none;
	border-collapse: collapse;
	width: 100%;
}

#sched_table * {
	-webkit-user-select: ignore !important;
	font-size: 9px;
	font-weight: bold;
}

#sched_table_lgnd ul {
	float: right;
	list-style: none;
	margin: 5px 0 0 16px;
}

#sched_table_lgnd .block {
	line-height: 16px;
	padding: 0 6px;
}

#sched_table_info {
	padding: 5px;
	width: 200px;
}

#dlgSettings-Scheduler .daycode {
	padding-right: 3px;
	text-align: right;
}

#dlgSettings-Scheduler .block {
	border: 1px solid #000000;
	height: 17px;
	width: 17px;
}

#dlgSettings-Scheduler .mode0 { background-color: #00A800; }
#dlgSettings-Scheduler .mode0:hover { background-color: #009300; }
#dlgSettings-Scheduler .disabled .mode0 { background-color: #545454; }

#dlgSettings-Scheduler .mode1 { background-color: #8DCE8D; }
#dlgSettings-Scheduler .mode1:hover { background-color: #7BB47B; }
#dlgSettings-Scheduler .disabled .mode1 { background-color: #8E8E8E; }

#dlgSettings-Scheduler .mode2 { background-color: #FFFFFF; }
#dlgSettings-Scheduler .mode2:hover { background-color: #DFDFDF; }
#dlgSettings-Scheduler .disabled .mode2 { background-color: #FFFFFF; }

#dlgSettings-Scheduler .mode3 { background-color: #FFC0C0; }
#dlgSettings-Scheduler .mode3:hover { background-color: #DFA8A8; }
#dlgSettings-Scheduler .disabled .mode3 { background-color: #D0D0D0; }

/* Advanced */

#dlgSettings-advOptList {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	display: block;
	overflow: hidden;
}

#dlgSettings-Advanced .tall {
	padding-top: 5px;
}

#dlgSettings-advBool-cont,
#dlgSettings-advText-cont {
	display: none;
	padding-left: 5px;
}

#dlgSettings-advBool-cont span {
	padding: 0 3px;
}

#dlgSettings-advText {
	width: 340px;
}

/**************************************************
 * MENU
 **************************************************/

ul.CMenu {
	background: #FFFFFF;
	border: 1px solid #A7A6AA;
	display: none;
	left: 0px;
	list-style: none;
	padding: 2px;
	position: absolute;
	text-decoration: none;
	top: 0px;
	width: 150px;
	z-index: 1000;
}

ul.CMenu li {
	background: #F8F8F8;
	float: left;
	margin-right: 1px;
	position: relative;
	width: 150px;
}

ul.CMenu li a {
	display: block;
	font-weight: normal;
	line-height: 18px;
	padding: 0 4px 0 16px;
}

ul.CMenu li a.dis {
	color: #C0C0C0;
}

ul.CMenu li a.dis:hover {
	background-color: #F8F8F8;
	color: #C0C0C0;
}

ul.CMenu li .hr {
	border: none;
	border-top: 1px solid #D0D0D0;
	font-size: 1px;
	margin: 2px auto;
	width: 90%;
}

ul.CMenu li a.exp {
	background: transparent url(./images/menuexp.png) no-repeat scroll 140px center;
}

ul.CMenu li a.sel {
	background: transparent url(./images/menusel.png) no-repeat scroll 4px center;
}

ul.CMenu li a.check {
	background: transparent url(./images/menucheck.png) no-repeat scroll 4px center;
}

ul.CMenu li:hover a { background-color: #0099FF; color: #FFFFFF; }
ul.CMenu li:hover ul { display: block; position: absolute; top: 0; left: 150px; width: 150px; }
ul.CMenu li:hover ul li ul { display: none; z-index: 1002; }
ul.CMenu li:hover ul li a { display: block; background-color: #F6F6F6; color: #000000; }
ul.CMenu li:hover ul li a:hover { background-color: #0099FF; color: #FFFFFF; }
ul.CMenu li:hover ul.left { left: -150px; z-index: 1002; }
