/**
 * Copyright 2007 BitTorrent, Inc. All rights reserved.
 * Copyright 2008 Carsten Niebuhr
 */

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #DDDDDD;
	border: 0;
	cursor: default;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 100%;
	overflow: hidden;
}

a {
	color: #686868;
	text-decoration: none;
}

img {
	border: 0;
}

fieldset {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	margin-bottom: 6px;
	overflow: hidden;
	padding: 0 5px 5px 5px;
	position: relative;
}

fieldset:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

fieldset legend {
	color: #000000;
	font-weight: bold;
	padding: 0 3px 3px 3px;
}

label {
	cursor: pointer;
}

textarea {
	border: 1px solid #D0D0D0;
	font-size: 11px;
	overflow: auto;
	padding: 2px;
}

textarea:focus {
	border: 1px solid #0099FF;
}

input, select {
	font-family: inherit;
	font-size: 11px;
}

input[type="checkbox"] {
	margin-right: 3px;
}

input.fbox, input.tbox, select {
	background-color: #FFFFFF;
	border: 1px solid #D0D0D0;
	color: #000000;
	height: 19px;
}

input.btn {
	background: #F0F0F0 url(./images/header.png) repeat center top;
	border: 1px solid #A0A0A0;
	width: 80px;
	height: 19px;
}

input.btn:active {
	background-position: center -18px;
}

.disabled input.btn,
input.btn.disabled {
	background-position: center top;
	border-color: #D0D0D0;
}

input.tbox {
	background-color: #FFFFFF;
	margin: 1px 0;
	vertical-align: top;
	height: 16px;
}

input.tbox:focus {
	border: 1px solid #0099FF;
}

input.num {
	text-align: right;
	width: 50px;
}

input.str {
	text-align: left;
	width: 130px;
}

.disabled input, .disabled select,
input.disabled, select.disabled {
	background-color: #FAFAFA;
	color: #808080;
}

.disabled td, .disabled label, .disabled span, .disabled div,
td.disabled, label.disabled, span.disabled, div.disabled {
	color: #C0C0C0;
	cursor: default;
}

.fll {
	float: left;
}

.flr {
	float: right;
	text-align: left;
}

.half {
	width: 49%;
}

.indent {
	padding-left: 18px;
}

.line-cont {
	clear: both;
	overflow: hidden;
	height: 20px;
}

.line-cont * {
	vertical-align: middle;
}

#cover, #modalbg {
	background: #FFFFFF;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

#modalbg {
	display: none;
	opacity: 0.60;
	z-index: 500;
}

#cover {
	z-index: 10000;
}

#msgout {
	display: table;
	height: 100%;
	overflow: hidden;
	position: static;
	width: 100%;
}

#msgmid {
	display: table-cell;
	vertical-align: middle;
}

#msg {
	background: #FDFDFD;
	border: 1px solid #D0D0D0;
	border-width: 1px 0;
	font-weight: bold;
	line-height: 1.5;
	padding: 25px;
	text-align: center;
}

#msg p {
	margin-top: 8px;
}

#msg ul {
	list-style-position: inside;
}


/**************************************************
 * FOLDER-TAB STYLED CONTROLS
 **************************************************/

ul.folder-tabs {
	height: 18px;
	list-style: none;
	margin: 7px 0 0 0;
	position: relative;
	text-align: left;
	white-space: nowrap;
}

ul.folder-tabs li {
	display: inline;
}

ul.folder-tabs li a {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background-color: #DDDDDD;
	border: 1px solid #B0B0B0;
	border-bottom: 1px solid #868686;
	border-radius: 5px 5px 0 0;
	color: #3B3B3B;
	padding: 2px 0 5px 0;
	position: relative;
}

ul.folder-tabs li a:hover {
	background-color: #E5E5E5;
	border-top: 2px solid #0099FF;
}

ul.folder-tabs li.selected a {
	background-color: #FFFFFF !important;
	border: 1px solid #868686;
	border-bottom: 1px solid #FFFFFF;
	border-top: 2px solid #0099FF;
	color: #000000;
	z-index: 50;
}


ul.folder-tabs li a span {
	padding: 0 10px 3px 10px;
}

ul.folder-tabs.icon li a span {
	padding-left: 24px;
}


/**************************************************
 * MAIN TOOLBAR
 **************************************************/

#mainToolbar {
	background: #EEEEEE;
	border-bottom: 1px solid #AAAAAA;
	height: 30px;
	line-height: 30px;
	margin: 0;
	overflow: hidden;
}

#mainToolbar .separator {
	background-color: #A0A0A0;
	border: 0;
	float: left;
	height: 24px;
	margin: 3px 4px;
	width: 1px;
}

#mainToolbar .tbbutton {
	cursor: pointer;
	display: block;
	float: left;
	height: 24px;
	margin: 3px 4px;
	width: 24px;
}

#mainToolbar .tbbutton:active {
	margin: 4px 3px 5px 5px;
}

#mainToolbar .tbbutton {
	opacity: 0.80;
}

#mainToolbar .tbbutton:hover {
	opacity: 1.00;
}

#mainToolbar .tbbutton {
	background: transparent url(./images/toolbar.png) no-repeat 0px top;
}

	#mainToolbar .tbbutton#add { background-position: 0px; }
	#mainToolbar .tbbutton#addurl { background-position: -24px; }
	#mainToolbar .tbbutton#remove { background-position: -72px; }
	#mainToolbar .tbbutton#start { background-position: -96px; }
	#mainToolbar .tbbutton#pause { background-position: -120px; }
	#mainToolbar .tbbutton#stop { background-position: -144px; }
	#mainToolbar .tbbutton#queueup { background-position: -168px; }
	#mainToolbar .tbbutton#queuedown { background-position: -192px; }
	#mainToolbar .tbbutton#setting { background-position: -264px; }

#mainToolbar .tbbutton.disabled {
	cursor: default;
	opacity: 0.10;
}

#mainToolbar .tbbutton.disabled:active {
	margin: 3px 4px;
}

#mainToolbar #tbchevron {
	display: none;
	float: right;
	font-size: 1.2em;
	margin-right: 3px;
	opacity: 0.5;
}

#mainToolbar #tbchevron:hover {
	opacity: 1.0;
}

#mainToolbar-searchbar {
	float: right;
	height: 24px;
	margin: 5px;
	white-space: nowrap;
}

#mainToolbar-searchbar * {
	border: 1px solid #C0C0C0;
	float: left;
	margin: 0 !important;
}

#mainToolbar-searchbar input {
	height: 20px;
	line-height: 20px;
	padding: 0 3px;
	width: 110px;
}

#mainToolbar-searchbar input {
	opacity: 0.80;
}

#mainToolbar-searchbar input:hover, #mainToolbar-searchbar input:focus {
	opacity: 1.00;
}

#mainToolbar-searchbar #search {
	background: #FFFFFF url(./images/zoom.png) no-repeat center center;
	border-width: 1px 0;
	height: 20px;
	width: 20px;
}

#mainToolbar-searchbar #searchsel {
	background: #FFFFFF url(./images/arrow.png) no-repeat -2px 3px;
	height: 20px;
	width: 10px;
}


/**************************************************
 * MAIN CATEGORY/LABEL LIST
 **************************************************/

#mainCatList {
	background-color: #FFFFFF;
	border: 1px solid #868686;
	float: left;
	margin: 0 3px 0 0;
	overflow: auto;
}

#mainCatList > div {
	min-width: 100%;
}

#mainCatList ul {
	list-style: none;
	white-space: nowrap;
}

#mainCatList ul li {
	cursor: pointer;
	line-height: 18px;
	padding: 0 4px 0 22px;
}

#mainCatList ul li.sel {
	background-color: #C0C0C0;
	color: #FFFFFF;
}

#mainCatList hr {
	background-color: #868686;
	border: none;
	height: 1px;
	margin: 4px;
}

#cat_all, #cat_dls, #cat_com, #cat_act, #cat_iac {
	background: transparent url(./images/tstatus.png) no-repeat 3px 0px;
}

	#cat_all { background-position: 3px -176px; }
	#cat_com { background-position: 3px -16px; }
	#cat_act { background-position: 3px -160px; }
	#cat_iac { background-position: 3px -192px; }


/**************************************************
 * MAIN TORRENT LIST
 **************************************************/

#mainTorList {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	border: 1px solid #868686;
	display: block;
	overflow: hidden;
}

.Status_Down        { background: transparent url(./images/tstatus.png) no-repeat 3px 0px; }
.Status_Up          { background: transparent url(./images/tstatus.png) no-repeat 3px -16px; }
.Status_Checking,
.Status_Incomplete  { background: transparent url(./images/tstatus.png) no-repeat 3px -32px; }
.Status_Paused      { background: transparent url(./images/tstatus.png) no-repeat 3px -48px; }
.Status_Error_Down  { background: transparent url(./images/tstatus.png) no-repeat 3px -64px; }
.Status_Error_Up    { background: transparent url(./images/tstatus.png) no-repeat 3px -80px; }
.Status_Error       { background: transparent url(./images/tstatus.png) no-repeat 3px -96px; }
.Status_Completed   { background: transparent url(./images/tstatus.png) no-repeat 3px -112px; }
.Status_Queued_Down { background: transparent url(./images/tstatus.png) no-repeat 3px -128px; }
.Status_Queued_Up   { background: transparent url(./images/tstatus.png) no-repeat 3px -144px; }


/**************************************************
 * MAIN DETAILED INFO PANE
 **************************************************/

#mainInfoPane {
	float: left;
	width: 0; /* NOTE: This fixes poor reflow under FF/IE when zooming out */
}

.icon li#tab_mainInfoPane-generalTab span,
.icon li#tab_mainInfoPane-peersTab span,
.icon li#tab_mainInfoPane-filesTab span,
.icon li#tab_mainInfoPane-speedTab span,
.icon li#tab_mainInfoPane-loggerTab span {
	background: transparent url(./images/tabs.png) no-repeat 4px top;
	opacity: 0.50;
}

	.icon li#tab_mainInfoPane-generalTab span { background-position: 4px 0px; }
	.icon li#tab_mainInfoPane-peersTab span { background-position: 4px -32px; }
	.icon li#tab_mainInfoPane-filesTab span { background-position: 4px -64px; }
	.icon li#tab_mainInfoPane-speedTab span { background-position: 4px -80px; }
	.icon li#tab_mainInfoPane-loggerTab span { background-position: 4px -96px; }

li.selected#tab_mainInfoPane-generalTab span,
li.selected#tab_mainInfoPane-peersTab span,
li.selected#tab_mainInfoPane-filesTab span,
li.selected#tab_mainInfoPane-speedTab span,
li.selected#tab_mainInfoPane-loggerTab span {
	opacity: 1.0;
}

#mainInfoPane-content {
	background: #FFFFFF;
	border: 1px solid #868686;
	height: 200px;
	padding: 3px;
	position: relative;
}

#mainInfoPane-generalTab, #mainInfoPane-loggerTab {
	background-color: #FFFFFF;
	border: 1px solid #868686;
	overflow: auto;
}

#mainInfoPane-generalTab table {
	width: 100%;
}

#mainInfoPane-generalTab table td {
	empty-cells: show;
	padding: 1px 3px;
}

#mainInfoPane-generalTab table td.header {
	background: #F6F6F6;
	border: 1px solid #D0D0D0;
	font-weight: bold;
}

#mainInfoPane-generalTab table label {
	width: 100px;
	float: left;
}

.country { background: transparent url(./images/flags.png) no-repeat 2px 16px; }
	.country_00 { background-position: 3px 0px; }
	.country_AC { background-position: 3px -16px; }
	.country_AD { background-position: 3px -32px; }
	.country_AE { background-position: 3px -48px; }
	.country_AF { background-position: 3px -64px; }
	.country_AG { background-position: 3px -80px; }
	.country_AI { background-position: 3px -96px; }
	.country_AL { background-position: 3px -112px; }
	.country_AM { background-position: 3px -128px; }
	.country_AN { background-position: 3px -144px; }
	.country_AO { background-position: 3px -160px; }
	.country_AQ { background-position: 3px -176px; }
	.country_AR { background-position: 3px -192px; }
	.country_AS { background-position: 3px -208px; }
	.country_AT { background-position: 3px -224px; }
	.country_AU { background-position: 3px -240px; }
	.country_AW { background-position: 3px -256px; }
	.country_AX { background-position: 3px -272px; }
	.country_AZ { background-position: 3px -288px; }
	.country_BA { background-position: 3px -304px; }
	.country_BB { background-position: 3px -320px; }
	.country_BD { background-position: 3px -336px; }
	.country_BE { background-position: 3px -352px; }
	.country_BF { background-position: 3px -368px; }
	.country_BG { background-position: 3px -384px; }
	.country_BH { background-position: 3px -400px; }
	.country_BI { background-position: 3px -416px; }
	.country_BJ { background-position: 3px -432px; }
	.country_BM { background-position: 3px -448px; }
	.country_BN { background-position: 3px -464px; }
	.country_BO { background-position: 3px -480px; }
	.country_BR { background-position: 3px -496px; }
	.country_BS { background-position: 3px -512px; }
	.country_BT { background-position: 3px -528px; }
	.country_BV { background-position: 3px -544px; }
	.country_BW { background-position: 3px -560px; }
	.country_BY { background-position: 3px -576px; }
	.country_BZ { background-position: 3px -592px; }
	.country_CA { background-position: 3px -608px; }
	.country_CC { background-position: 3px -624px; }
	.country_CD { background-position: 3px -640px; }
	.country_CF { background-position: 3px -656px; }
	.country_CG { background-position: 3px -672px; }
	.country_CH { background-position: 3px -688px; }
	.country_CI { background-position: 3px -704px; }
	.country_CK { background-position: 3px -720px; }
	.country_CL { background-position: 3px -736px; }
	.country_CM { background-position: 3px -752px; }
	.country_CN { background-position: 3px -768px; }
	.country_CO { background-position: 3px -784px; }
	.country_CR { background-position: 3px -800px; }
	.country_CU { background-position: 3px -816px; }
	.country_CV { background-position: 3px -832px; }
	.country_CX { background-position: 3px -848px; }
	.country_CY { background-position: 3px -864px; }
	.country_CZ { background-position: 3px -880px; }
	.country_DE { background-position: 3px -896px; }
	.country_DJ { background-position: 3px -912px; }
	.country_DK { background-position: 3px -928px; }
	.country_DM { background-position: 3px -944px; }
	.country_DO { background-position: 3px -960px; }
	.country_DZ { background-position: 3px -976px; }
	.country_EC { background-position: 3px -992px; }
	.country_EE { background-position: 3px -1008px; }
	.country_EG { background-position: 3px -1024px; }
	.country_EH { background-position: 3px -1040px; }
	.country_ER { background-position: 3px -1056px; }
	.country_ES { background-position: 3px -1072px; }
	.country_ET { background-position: 3px -1088px; }
	.country_EU { background-position: 3px -1104px; }
	.country_FI { background-position: 3px -1120px; }
	.country_FJ { background-position: 3px -1136px; }
	.country_FK { background-position: 3px -1152px; }
	.country_FM { background-position: 3px -1168px; }
	.country_FO { background-position: 3px -1184px; }
	.country_FR { background-position: 3px -1200px; }
	.country_GA { background-position: 3px -1216px; }
	.country_GB { background-position: 3px -1232px; }
	.country_GD { background-position: 3px -1248px; }
	.country_GE { background-position: 3px -1264px; }
	.country_GF { background-position: 3px -1280px; }
	.country_GG { background-position: 3px -1296px; }
	.country_GH { background-position: 3px -1312px; }
	.country_GI { background-position: 3px -1328px; }
	.country_GL { background-position: 3px -1344px; }
	.country_GM { background-position: 3px -1360px; }
	.country_GN { background-position: 3px -1376px; }
	.country_GP { background-position: 3px -1392px; }
	.country_GQ { background-position: 3px -1408px; }
	.country_GR { background-position: 3px -1424px; }
	.country_GS { background-position: 3px -1440px; }
	.country_GT { background-position: 3px -1456px; }
	.country_GU { background-position: 3px -1472px; }
	.country_GW { background-position: 3px -1488px; }
	.country_GY { background-position: 3px -1504px; }
	.country_HK { background-position: 3px -1520px; }
	.country_HM { background-position: 3px -1536px; }
	.country_HN { background-position: 3px -1552px; }
	.country_HR { background-position: 3px -1568px; }
	.country_HT { background-position: 3px -1584px; }
	.country_HU { background-position: 3px -1600px; }
	.country_ID { background-position: 3px -1616px; }
	.country_IE { background-position: 3px -1632px; }
	.country_IL { background-position: 3px -1648px; }
	.country_IM { background-position: 3px -1664px; }
	.country_IN { background-position: 3px -1680px; }
	.country_IO { background-position: 3px -1696px; }
	.country_IQ { background-position: 3px -1712px; }
	.country_IR { background-position: 3px -1728px; }
	.country_IS { background-position: 3px -1744px; }
	.country_IT { background-position: 3px -1760px; }
	.country_JE { background-position: 3px -1776px; }
	.country_JM { background-position: 3px -1792px; }
	.country_JO { background-position: 3px -1808px; }
	.country_JP { background-position: 3px -1824px; }
	.country_KE { background-position: 3px -1840px; }
	.country_KG { background-position: 3px -1856px; }
	.country_KH { background-position: 3px -1872px; }
	.country_KI { background-position: 3px -1888px; }
	.country_KM { background-position: 3px -1904px; }
	.country_KN { background-position: 3px -1920px; }
	.country_KP { background-position: 3px -1936px; }
	.country_KR { background-position: 3px -1952px; }
	.country_KW { background-position: 3px -1968px; }
	.country_KY { background-position: 3px -1984px; }
	.country_KZ { background-position: 3px -2000px; }
	.country_LA { background-position: 3px -2016px; }
	.country_LB { background-position: 3px -2032px; }
	.country_LC { background-position: 3px -2048px; }
	.country_LI { background-position: 3px -2064px; }
	.country_LK { background-position: 3px -2080px; }
	.country_LR { background-position: 3px -2096px; }
	.country_LS { background-position: 3px -2112px; }
	.country_LT { background-position: 3px -2128px; }
	.country_LU { background-position: 3px -2144px; }
	.country_LV { background-position: 3px -2160px; }
	.country_LY { background-position: 3px -2176px; }
	.country_MA { background-position: 3px -2192px; }
	.country_MC { background-position: 3px -2208px; }
	.country_MD { background-position: 3px -2224px; }
	.country_ME { background-position: 3px -2240px; }
	.country_MG { background-position: 3px -2256px; }
	.country_MH { background-position: 3px -2272px; }
	.country_MK { background-position: 3px -2288px; }
	.country_ML { background-position: 3px -2304px; }
	.country_MM { background-position: 3px -2320px; }
	.country_MN { background-position: 3px -2336px; }
	.country_MO { background-position: 3px -2352px; }
	.country_MP { background-position: 3px -2368px; }
	.country_MQ { background-position: 3px -2384px; }
	.country_MR { background-position: 3px -2400px; }
	.country_MS { background-position: 3px -2416px; }
	.country_MT { background-position: 3px -2432px; }
	.country_MU { background-position: 3px -2448px; }
	.country_MV { background-position: 3px -2464px; }
	.country_MW { background-position: 3px -2480px; }
	.country_MX { background-position: 3px -2496px; }
	.country_MY { background-position: 3px -2512px; }
	.country_MZ { background-position: 3px -2528px; }
	.country_NA { background-position: 3px -2544px; }
	.country_NC { background-position: 3px -2560px; }
	.country_NE { background-position: 3px -2576px; }
	.country_NF { background-position: 3px -2592px; }
	.country_NG { background-position: 3px -2608px; }
	.country_NI { background-position: 3px -2624px; }
	.country_NL { background-position: 3px -2640px; }
	.country_NO { background-position: 3px -2656px; }
	.country_NP { background-position: 3px -2672px; }
	.country_NR { background-position: 3px -2688px; }
	.country_NU { background-position: 3px -2704px; }
	.country_NZ { background-position: 3px -2720px; }
	.country_OM { background-position: 3px -2736px; }
	.country_PA { background-position: 3px -2752px; }
	.country_PE { background-position: 3px -2768px; }
	.country_PF { background-position: 3px -2784px; }
	.country_PG { background-position: 3px -2800px; }
	.country_PH { background-position: 3px -2816px; }
	.country_PK { background-position: 3px -2832px; }
	.country_PL { background-position: 3px -2848px; }
	.country_PM { background-position: 3px -2864px; }
	.country_PN { background-position: 3px -2880px; }
	.country_PR { background-position: 3px -2896px; }
	.country_PS { background-position: 3px -2912px; }
	.country_PT { background-position: 3px -2928px; }
	.country_PW { background-position: 3px -2944px; }
	.country_PY { background-position: 3px -2960px; }
	.country_QA { background-position: 3px -2976px; }
	.country_RE { background-position: 3px -2992px; }
	.country_RO { background-position: 3px -3008px; }
	.country_RS { background-position: 3px -3024px; }
	.country_RU { background-position: 3px -3040px; }
	.country_RW { background-position: 3px -3056px; }
	.country_SA { background-position: 3px -3072px; }
	.country_SB { background-position: 3px -3088px; }
	.country_SC { background-position: 3px -3104px; }
	.country_SD { background-position: 3px -3120px; }
	.country_SE { background-position: 3px -3136px; }
	.country_SG { background-position: 3px -3152px; }
	.country_SH { background-position: 3px -3168px; }
	.country_SI { background-position: 3px -3184px; }
	.country_SJ { background-position: 3px -3200px; }
	.country_SK { background-position: 3px -3216px; }
	.country_SL { background-position: 3px -3232px; }
	.country_SM { background-position: 3px -3248px; }
	.country_SN { background-position: 3px -3264px; }
	.country_SO { background-position: 3px -3280px; }
	.country_SR { background-position: 3px -3296px; }
	.country_ST { background-position: 3px -3312px; }
	.country_SU { background-position: 3px -3328px; }
	.country_SV { background-position: 3px -3344px; }
	.country_SY { background-position: 3px -3360px; }
	.country_SZ { background-position: 3px -3376px; }
	.country_TC { background-position: 3px -3392px; }
	.country_TD { background-position: 3px -3408px; }
	.country_TF { background-position: 3px -3424px; }
	.country_TG { background-position: 3px -3440px; }
	.country_TH { background-position: 3px -3456px; }
	.country_TJ { background-position: 3px -3472px; }
	.country_TK { background-position: 3px -3488px; }
	.country_TL { background-position: 3px -3504px; }
	.country_TM { background-position: 3px -3520px; }
	.country_TN { background-position: 3px -3536px; }
	.country_TO { background-position: 3px -3552px; }
	.country_TP { background-position: 3px -3568px; }
	.country_TR { background-position: 3px -3584px; }
	.country_TT { background-position: 3px -3600px; }
	.country_TV { background-position: 3px -3616px; }
	.country_TW { background-position: 3px -3632px; }
	.country_TZ { background-position: 3px -3648px; }
	.country_UA { background-position: 3px -3664px; }
	.country_UG { background-position: 3px -3680px; }
	.country_UK { background-position: 3px -3696px; }
	.country_UM { background-position: 3px -3712px; }
	.country_US { background-position: 3px -3728px; }
	.country_UY { background-position: 3px -3744px; }
	.country_UZ { background-position: 3px -3760px; }
	.country_VA { background-position: 3px -3776px; }
	.country_VC { background-position: 3px -3792px; }
	.country_VE { background-position: 3px -3808px; }
	.country_VG { background-position: 3px -3824px; }
	.country_VI { background-position: 3px -3840px; }
	.country_VN { background-position: 3px -3856px; }
	.country_VU { background-position: 3px -3872px; }
	.country_WF { background-position: 3px -3888px; }
	.country_WS { background-position: 3px -3904px; }
	.country_YE { background-position: 3px -3920px; }
	.country_YT { background-position: 3px -3936px; }
	.country_ZA { background-position: 3px -3952px; }
	.country_ZM { background-position: 3px -3968px; }
	.country_ZW { background-position: 3px -3984px; }

#mainInfoPane-filesTab {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	display: block;
	overflow: hidden;
}

#mainInfoPane-speedTab {
	background-color: #FFFFFF;
	overflow: hidden;
}

#mainInfoPane-loggerTab {
	padding: 2px;
}

#mainInfoPane-loggerTab p {
	border-bottom: 1px solid #f0f0f0;
	font-family: monospace;
	font-size: 12px;
	line-height: 12px;
	padding: 3px;
	white-space: pre;
	word-wrap: break-word;
}

#mainInfoPane-loggerTab .timestamp {
	color: #999999;
	font-weight: bold;
}


/**************************************************
 * STATUS BAR
 **************************************************/

#mainStatusBar {
	background: #EEEEEE;
	border-top: 1px solid #AAAAAA;
	bottom: 0;
	height: 16px;
	left: 0;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 1px;
	position: absolute;
	right: 0;
}

#mainStatusBar .section {
	border-left: 1px solid #CCCCCC;
	float: right;
	padding: 0 5px;
	text-align: left;
}

#mainStatusBar-download,
#mainStatusBar-upload {
	width: 175px;
}


/**************************************************
 * MAIN UI DIVIDERS
 **************************************************/

#mainHDivider, #mainVDivider {
	position: absolute;
	z-index: 200;
}

#mainHDivider:hover, #mainVDivider:hover {
	background: #CCCCCC;
}

#mainHDivider {
	cursor: e-resize;
	width: 3px;
}

#mainVDivider {
	cursor: n-resize;
	height: 3px;
	font-size: 1px;
}


/**************************************************
 * DIALOG (Base Styles)
 **************************************************/

.dlg-window {
	-moz-border-radius: 5px 5px 0 0;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px 5px 0 0;
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
	background-color: #FFFFFF;
	border: 2px solid #C0C0C0;
	border-bottom-color: #A0A0A0 !important;
	border-radius: 5px 5px 0 0;
	border-right-color: #A0A0A0 !important;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
	color: #000000;
	display: none;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	z-index: 500;
}

.dlg-head {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	background: #F5F5F5 url(./images/blank.gif) no-repeat 3px 3px;
	border-bottom: 1px solid #C0C0C0;
	border-radius: 4px 4px 0 0;
	color: #A0A0A0;
	font-weight: bold;
	height: 19px;
	left: 0;
	line-height: 19px;
	overflow: hidden;
	padding: 2px 22px;
	position: absolute;
	right: 0;
	top: 0;
/*	white-space: nowrap;*/
/*	width: 100%; */
	z-index: 1;
}

.dlg-body {
	margin: 24px 0 28px 0;
	padding: 5px;
	position: relative;
}

.dlg-body:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.dlg-close {
	height: 14px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 14px;
	z-index: 2;
}

.dlg-close {
	background: transparent url(./images/close.png) no-repeat 0px 0px;
}

	.dlg-close:hover { background-position: -14px; }
	.dlg-close:active { background-position: -28px; }

.dlg-foot {
	background: #F0F0F0;
	border-top: 1px solid #D0D0D0;
	bottom: 0;
	height: 19px;
	padding: 4px;
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
}

.dlg-top {
	-moz-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25);
	border-color: #989898;
	border-bottom-color: #707070 !important;
	border-right-color: #707070 !important;
	box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.25);
}

.dlg-top .dlg-head {
	background-color: #E0E0E0;
	border-color: #989898;
	color: #202020;
}


/**************************************************
 * DIALOG: About
 **************************************************/

#dlgAbout {
	width: 250px;
}

#dlgAbout .dlg-body {
	margin-bottom: 0 !important;
}

#dlgAbout-head {
	background-image: url(./images/about.png);
}

#dlgAbout-logo {
	float: left;
	margin: 3px 8px 0 3px;
}

#dlgAbout-name {
	font-size: 1.75em;
	font-weight: bold;
}

#dlgAbout-credits {
	margin-top: 10px;
}

#dlgAbout-credits div {
	margin: 2px 5px 5px 5px;
}

#dlgAbout #mootools {
	margin: 10px 0 0 0;
	text-align: center;
}


/**************************************************
 * DIALOG: Add Torrent
 **************************************************/

#dlgAdd {
	width: 365px;
}

#dlgAdd-head {
	background-image: url(./images/add.png);
}

#dlgAdd .dlg-body .fbox,
#dlgAdd .dlg-body .tbox {
	width: 265px;
}


/**************************************************
 * DIALOG: Add URL
 **************************************************/

#dlgAddURL {
	width: 375px;
}

#dlgAddURL-head {
	background-image: url(./images/world.png);
}

#dlgAddURL .dlg-body .tbox {
	width: 275px;
}


/**************************************************
 * DIALOG: Delete
 **************************************************/

#dlgDelTor {
	width: 280px;
}

#dlgDelTor-head {
	background-image: url(./images/delete.png);
}


/**************************************************
 * DIALOG: New Label
 **************************************************/

#dlgLabel {
	width: 300px;
}

#dlgLabel-head {
	background-image: url(./images/label.png);
}

#dlgLabel .dlg-body .tbox {
	width: 280px;
}


/**************************************************
 * DIALOG: Properties
 **************************************************/

#dlgProps {
	width: 375px;
}

#dlgProps-head {
	background-image: url(./images/props.png);
}

#dlgProps fieldset .wide {
	width: 345px;
}

#prop-trackers {
	height: 75px;
}

/**************************************************
 * DIALOG: Settings
 **************************************************/

#dlgSettings {
	width: 600px;
}

#dlgSettings-head {
	background-image: url(./images/settings.png);
}

#dlgSettings-menuCont {
	background-color: #FFFFFF;
	border-right: 1px solid #D0D0D0;
	bottom: 0;
	display: block !important;
	left: 0;
	overflow: auto;
	position: absolute;
	top: 0;
	width: 120px;
}

#dlgSettings-menuCont > div {
	display: block !important;
	min-width: 100%;
}

#dlgSettings-menu {
	list-style: none;
	white-space: nowrap;
}

#dlgSettings-menu li {
	line-height: 18px;
}

#dlgSettings-menu li a {
	display: block;
	padding: 0 6px;
}

#dlgSettings-menu li.selected a {
	background-color: #0099FF;
	color: #FFFFFF;
}

#dlgSettings .settings-pane {
	height: 340px;
	left: 120px;
	padding: 0 5px;
	position: relative;
	width: 460px;
}

#dlgSettings .settings-pane fieldset .wide {
	width: 445px;
}

/* General */

select[id="webui.lang"] { width: 360px; }

/* UI Settings */

select[id="gui.dblclick_seed"],
select[id="gui.dblclick_dl"] {
	width: 290px;
}

/* Directories */

#dir_active_download, #dir_completed_download, #dir_torrent_files, #dir_completed_torrents, #dir_autoload {
	width: 420px;
}

/* Connection */

#DLG_SETTINGS_4_CONN_11,
#DLG_SETTINGS_4_CONN_16 {
	margin-right: 5px;
}

#DLG_SETTINGS_4_CONN_13,
#DLG_SETTINGS_4_CONN_18 {
	margin: 0 5px 0 25px;
}

select[id="proxy.type"] { margin-left: 3px; }
input[id="proxy.proxy"] { width: 140px; }
input[id="proxy.port"] { width: 45px; }
input[id="proxy.username"] { width: 90px; }
input[id="proxy.password"] { width: 70px; }

/* BitTorrent */

#tracker_ip { width: 215px; }
#encryption_mode { margin-left: 3px; }

/* Transfer Cap */

#multi_day_transfer_mode,
#multi_day_transfer_limit_value,
#multi_day_transfer_limit_unit,
#multi_day_transfer_limit_span {
	margin-left: 3px;
}

/* Scheduler */

#sched_table {
	-moz-user-select: none;
	border-collapse: collapse;
	width: 100%;
}

#sched_table * {
	-webkit-user-select: ignore !important;
	font-size: 9px;
	font-weight: bold;
}

#sched_table_lgnd ul {
	float: right;
	list-style: none;
	margin: 5px 0 0 16px;
}

#sched_table_lgnd .block {
	line-height: 16px;
	padding: 0 6px;
}

#sched_table_info {
	padding: 5px;
	width: 200px;
}

#dlgSettings-Scheduler .daycode {
	padding-right: 3px;
	text-align: right;
	white-space: nowrap;
}

#dlgSettings-Scheduler .block {
	border: 1px solid #000000;
	height: 17px;
	width: 17px;
}

#dlgSettings-Scheduler .mode0 { background-color: #00A800; }
#dlgSettings-Scheduler .mode0:hover { background-color: #009300; }
#dlgSettings-Scheduler .disabled .mode0 { background-color: #545454; }

#dlgSettings-Scheduler .mode1 { background-color: #8DCE8D; }
#dlgSettings-Scheduler .mode1:hover { background-color: #7BB47B; }
#dlgSettings-Scheduler .disabled .mode1 { background-color: #8E8E8E; }

#dlgSettings-Scheduler .mode2 { background-color: #FFFFFF; }
#dlgSettings-Scheduler .mode2:hover { background-color: #DFDFDF; }
#dlgSettings-Scheduler .disabled .mode2 { background-color: #FFFFFF; }

#dlgSettings-Scheduler .mode3 { background-color: #FFC0C0; }
#dlgSettings-Scheduler .mode3:hover { background-color: #DFA8A8; }
#dlgSettings-Scheduler .disabled .mode3 { background-color: #D0D0D0; }

/* Web UI */

input[id="webui.username"],
input[id="webui.password"] {
	margin-left: 3px;
}

/* Advanced */

#dlgSettings-advOptList {
	-moz-user-focus: normal;
	-moz-user-input: enabled;
	-moz-user-select: none;
	background-color: #FFFFFF;
	display: block;
	overflow: hidden;
}

#dlgSettings-Advanced .tall {
	padding-top: 3px;
	line-height: 17px;
}

#dlgSettings-advBool-cont,
#dlgSettings-advText-cont {
	display: none;
	padding-left: 4px;
}

#dlgSettings-advBool-cont *,
#dlgSettings-advText-cont * {
	vertical-align: baseline;
}

#dlgSettings-advBool-cont input[type="radio"],
#dlgSettings-advText-cont input[type="radio"] {
	vertical-align: text-top;
}

#dlgSettings-advBool-cont span {
	padding: 0 3px;
}

#dlgSettings-advText {
	width: 325px;
}

/* UI Extras */

input[id="gui.ulrate_menu"],
input[id="gui.dlrate_menu"] {
	width: 260px;
}

#search_list { height: 75px; }

/* Hide Unknown Settings */

#dlgSettings .dlg-body div,
#dlgSettings .dlg-body fieldset {
	display: none;
}

#sched_table_lgnd,
#sched_table_info,
#DLG_SETTINGS_C_ADV_CACHE_02,
#DLG_SETTINGS_C_ADV_RUN_06 {
	display: block !important;
}

/*
NOTE: The following is an ugly hack, but a necessary one if we want the settings
      to remain scalable.
*/

#dlgSettings .dlg-body .stable,
#dlgSettings .dlg-body .stable div {
	display: block !important;
}


/**************************************************
 * MENU
 **************************************************/

div.CMenu {
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30);
	background: #F8F8F8;
	border: 1px solid #A7A6AA;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.30);
	display: none;
	overflow-y: hidden;
	position: fixed;
	z-index: 100000;
}

div.CMenu ul {
	background-color: #F8F8F8;
	list-style: none;
	padding: 2px;
	position: relative;
}

div.CMenu li {
	word-wrap: break-word;
}

div.CMenu ul li.sep {
	border-top: 1px solid #D0D0D0;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin: 2px 5px;
}

div.CMenu a {
	color: #686868;
	display: block;
	font-weight: normal;
	padding: 2px 26px 2px 18px;
}

div.CMenu a.dis {
	background-color: #F8F8F8 !important;
	color: #C0C0C0 !important;
}

div.CMenu a.exp { background: transparent url(./images/menuexp.png) no-repeat scroll 0 center; }
div.CMenu a.sel { background: transparent url(./images/menusel.png) no-repeat scroll 5px center; }
div.CMenu a.check { background: transparent url(./images/menucheck.png) no-repeat scroll 5px center; }

div.CMenu li:hover > a { background-color: #0099FF; color: #FFFFFF; }
